<style>

ul {
  list-style-type: none;
  float: left;
  padding: 10px;
  text-align; center
}

</style>

<h1><%= @shelter.name %></h1>
<h2>Shelter Pets Index</h2><br>
<h4><a href="/shelters/<%= @shelter.id %>/pets/new">Create Pet</a></h4>

<% @shelter.pets.each do |pet| %>
  <ul>
    <img src="<%= pet.image %>" width="200" height="200"><a href="/pets/<%= pet.id%>"></a><br>
    <li>Name: <%= pet.name %></li>
    <li>Sex: <%= pet.sex %></li>
    <li>Approximate Age: <%= pet.approximate_age %></li>
  </ul>
<% end %>
