<h3><%= @pets.first.shelter.name %></h3>
<h4>Shelter Pets Index</h4>
<style>

ul {
  list-style-type: none;
  float: left;
  padding: 10px;
  text-align; center
}

</style>

<% @pets.each do |pet| %>
  <ul>
    <img src="<%= pet.image %>" width="200" height="200"><br>
    <li>Name: <%= pet.name %></li>
    <li>Sex: <%= pet.sex %></li>
    <li>Approximate Age: <%= pet.approximate_age %></li>
  </ul>
<% end %>
