<a href="/shelters">Shelters Index</a>


<h1><%= @shelter.name %></h1>
<h4><%= link_to "Shelter's Pets", "/shelters/#{@shelter.id}/pets" %></h4><br>
<p>
  <%= @shelter.address %>,
  <%= @shelter.city %>,
  <%= @shelter.state %>,
  <%= @shelter.zip %>
</p>

<%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %>
<%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %>
